@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* jab kisi menu pe click kerte hen to us k hr line ko visible ker deta he  */
a.active hr{
  display: block;
}

*{
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

/* hamburger menu change color */
@media ( max-width:640px ) {
  a.ative{
    background-color: black;
    color: white;
  }
}